 @CHARSET "ISO-8859-1";

.header{
   min-height: 80px;
	font-family:Arial, Helvetica, sans-serif;
	   background-color: maroon;
}
.header-body {
	
	margin:0 auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
.tabs .logout{
	color: white;
	width: 100px;
  float: right;
  font-weight: bold;
  margin-top: 10px;
}
.tabs{
	padding-top: 20px;
	width: 100%;
    margin: 0 auto;
}
.logo{
	width: 100px;
    height: 30px;
    position: absolute;
    margin-left: 10px;
}
.header-icons{
width: 100px;
height:20px;
  float: right;
  max-height: 100px;
    max-width: 100px;
}
/* responsive */
 .activity-links{
	list-style-type: none;
	text-align:center;
	padding: 0;
	margin: 0;
	margin-top:0px;
	
}
.activity-links li{
	padding-right: .6em;
	margin: 1em 0;
	text-decoration: underline;
	
} 
.profile_img{
	margin-left:30px;
	margin-top:30px;
	max-height: 100px;
    max-width: 100px;
	 border-radius: 50%;
}
.activity-links li a{
	color:black;
}

