@CHARSET "ISO-8859-1";

/* sizes */
/* #pageContainer > div { min-height: 450px; }

#pageContainer{
	 overflow: hidden;
}

.left-view {
    float: left;
    width: 20%;
     t-family:Arial, Helvetica, sans-serif;
     height: 500px;
       border-right:solid maroon 4px;
    
}
.center-view{
	 float: left;
    width: 50%;
    margin-left:0px;
     t-family:Arial, Helvetica, sans-serif;
     height: 500px;
}

.right-view {
    float: right;
    width: 20%;
    t-family:Arial, Helvetica, sans-serif;
	   height: 500px;
	   border-left:solid maroon 4px;
}
 */

/* responsive */


