@CHARSET "ISO-8859-1";
/* sizes */
/* #main-wrap > div { min-height: 450px; }

#main-wrap {
    overflow to handle inner floating block
    overflow: hidden;
}

.left-view {
    float: left;
    width: 60%;
     t-family:Arial, Helvetica, sans-serif;
    background-color: white;
     height: 500px;
    
}

.right-view {
    float: right;
    width: 40%;
    t-family:Arial, Helvetica, sans-serif;
	   background-color: white;
	   height: 500px;
}   
.create-button{
	 background-color: maroon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.registration-form{
	padding-left: 30px;
}
.logo{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    position: absolute;
    margin-left: 10px;
}
.header_login .input-username{
       position: absolute;
    width: 100px;
    height: 30px;
    margin-left: 750px;
    color: white;
    margin-top: 10px;
}
.header_login .fb-login{
	position: absolute;
    width: 100px;
    height: 30px;
    margin-left: 660px;
    margin-top: 27px;

}
.header_login .input-password{
       position: absolute;
    width: 100px;
    height: 30px;
    margin-left: 950px;
     color: white;
      margin-top: 10px;
}
.header_login .login-submit{
    position: absolute;
    width: 100px;
    height: 50px;
    margin-left: 1125px;
    margin-top: 16px;
    background-color: maroon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 
     
}

Registration css
.registration-heading{
	font-size:      40px;
                font-weight:    bold;
                font-family:inherit;
                margin-top:10px;
}
.orText{
	border:none;
	width:10px;
}
.registration-form  td{
	 border:1px solid brown; 
}


.w3-content{max-width:980px;margin:auto}

.w3-display-container{position:relative}
.carousel-left{
	position:absolute;
	margin-left: 20px;
	margin-top:270px;
	z-index: 1;
	color: brown;
	font-weight: bold;
}
.carousel-right{
	position:absolute;
	margin-left: 720px;
	margin-top:270px;
	z-index: 1;
	color: brown;
	font-weight: bold;
}
 */
/* responsive */

.header{
   min-height: 80px;
	font-family:Arial, Helvetica, sans-serif;
	   background-color: maroon;
}

.header-items{
	font-size:20px;
}
.fb-login-button{
	padding-right: 40px;
	padding-top: 15px;
	width:100px;
}
.modal-header,.btn-footer{
	background-color: maroon;
	color:White;
}
.modal-title{
	color:White;
}
.reg-form{
	padding-top: 30px;
}
.right-lohp-center{
	
}
.first-row-loggedout{
	 background-image: url("background/register.jpg");
     z-index: -3;
}
.registration-heading{
	color:white;
}
.registration-heading{
	font-size:      40px;
                font-weight:    bold;
                font-family:inherit;
                margin-top:10px;
}
.align-password{
	margin-left: 85px;
}
.align-button-submit{
	margin-left: 30px;
}
.create-button{
	 background-color: maroon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:280px;
}
placeholder {
    text-align: center;
}

.second-row-loggedout{
	margin-top: 40px;
}
